@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #f1f5f9;
  --color-secondary: #111111;
  --color-accent-blue: #19485a;
  --color-accent-gold: #bea85d;
  --color-text: #f1f5f9;
}

body {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-secondary));
}

::-webkit-scrollbar {
  background-color: #111111;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #bea85d;
  border-radius: 2px;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
